section.youtube
	.flex.flex--space-around

		.col-1
			.video-strip
			.flex-video <iframe width="854" height="480" src="https://www.youtube.com/embed/QVXPh9tjrfI" frameborder="0" allowfullscreen></iframe>
		.col-1.order-first
			p.home-lead.outdented ...teaching everyone how to make websites on YouTube
			a(href="http://youtube.com/devtipsfordesigners").home-cta Watch on YouTube