doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		title Design + Code
		link(rel="stylesheet" href="./assets/css/main.css")
	body
		.home-wrap
			include _jadefiles/header
			.home-sections
				include _jadefiles/section-about
				include _jadefiles/section-youtube
				include _jadefiles/section-mentoring
				include _jadefiles/columns

				// all the sections here
				div(style="height: 2000px")
				